*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #000046, #1cb5e0), rgba(0,0,0,0.4);
}
.container{
    /* border: 2px solid white;
    border-radius: 10px; */
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 1.87rem 2.66rem;
}
#newtask {
    background-color: #ffffff;
    padding: 1.87rem 1.25rem;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);

}
#newtask input {
    width: 70%;
    height: 45px;
    font-family: "Poppins",sans-serif ;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight:500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #65c7f7; 
}
#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius:5px;
    font-family: "Poppins" ,sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background: #65c7f7;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    width: 100%;
    position: relative;
}
.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;

}

.task span{
    font-family: "Poppins" ,sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.delete ,.check{
    background: none;
    color: #65c7f7;
    height: 100%;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

.delete:hover{
    color: red;
}
.completed {
    text-decoration: line-through;
}

